.projects-bg{
    text-align: center;
    padding:10px;
}
.tabs-con{
    color:#fff;
    display:flex;
    justify-content:center;
    margin:10px;
}
.active-tab{
    cursor: pointer;
    border-bottom: 2px solid #fff;
    font-size:23px;
    transition: transform 0.3s ease, font-size 0.3s ease;
    margin:20px;
}
.unactive-tab{
    margin:20px;
    opacity:0.9;
    cursor: pointer;
    font-size: 20px;
    transition: transform 0.3s ease, font-size 0.3s ease;
}
.project-items-con{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap:wrap;
   

}