.project-item-card{
    background-size: cover;
    width:250px;
    height:340px;
    margin:30px;
    border-radius: 10px;
    display:flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}
@media (max-width:576px){
    .project-item-card{
        height:300px;
        width:300px;
    }
}
.project-title{
    color:#c9b3b3;
    font-weight: bold;
    font-size: 24px;
}
.details-button{
    background-color:#800000;
    border-radius: 20px;
    border:0px;
    font-size: 20px;
    height:47px;
    width:90px;
    transition:transform 0.3s;
}
.details-button:hover{
    transform:scale(1.2) ;

    
}

.explore-icon-button{
    background-color: #800000;
    border-radius:50%;
    border:0px;
    padding-bottom: 5px;
    width:47px;
    height: 47px;
    margin-left:40px;
    transition:transform 0.3s;


}
.explore-icon-button:hover{
    transform:scale(1.2) ;
    
}
.fade-in-to-top {
    animation: fadeInToTop 1.5s ;

}
@keyframes fadeInToTop {
    from {
        opacity: 0;
        transform: translateY(50px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
.resume-con{
    max-width: 120px;
}

.project-details-card-heading{
    color:#800000;
    font-weight:bold;
    font-size: 20px;
}
.project-details-card-para{
    color: #141617 ;
    font-size: 18px;
}