
.resume-button-con{
    border: 0px;
    position:fixed;
    bottom:20px;
    right:20px;
    background-color:#800000;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    color:#fff;
    transition: transform 0.3s;
    text-align:center;
    min-width:133px;
    height:47px;
    padding-top:5px;
    padding-right:5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.resume-button{
    border: 0px;
    background:transparent ;
    border: 0px;
    font-size: 20px;
    font-weight: bold;
    margin-top:2px;
    margin-right:5px;
}
.resume-button-con:hover{
    border:0px;
    font-weight: bolder;
    transform: scale(1.2);
}
.fade-in-to-right {
    animation: fadeInToRight 1.5s ;

}
@keyframes fadeInToRight {
    from {
        opacity: 0;
        transform: translateX(100px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
